
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>post ındex</h1>
    @if (true)
    {
        <text> 
   <p> rue is true</p>
    </text>

      }
</body>
</html>
